@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    background-color: black;
}
header,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lawngreen;
    font-family: 'Press Start 2P';
    font-size: 35px;
}
a {
    text-decoration: none;
    color: lawngreen;
}
#quote {
    font-size: 14px;
    margin: 10px;
}
/*#gridBox {
    height: 640px;
    width: 640px;
}*/
#opt,
#gridBox,
.slidecontainer {
    display: flex;
    justify-content: center;
}
#opt {
    gap: 30px;
}
button {
    background-color: slateblue;
    color: aqua;
}
button,
.slidecontainer {
    display: flex;
    width: 120px;
    height: 30px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border: 1px lawngreen;
    height: 640px;
    width: 640px;
    
}
.dark {
    border: solid 1px lawngreen;
    background-color: black;
}
/*.default:hover{
    background-color: whitesmoke;
    border: solid .1px royalblue;
}*/
.light {
    border: solid .1px;
    background-color: whitesmoke;
    border-color: royalblue;
}
.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
    background: slateblue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 25px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: aqua;
    border-radius: 25px;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: aqua;
    border-radius: 25px;
    cursor: pointer;
}