@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    background-color: black;
}
header,
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lawngreen;
    font-family: 'Press Start 2P';
    font-size: 35px;
}
a {
    text-decoration: none;
    color: lawngreen;
}
#quote {
    font-size: 14px;
    margin: 10px;
}
#opt,
#griddle {
    display: flex;
    justify-content: center;
}
#opt {
    gap: 30px;
}
button {
    display: flex;
    width: 120px;
    height: 30px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: slateblue;
    color: aqua;
    justify-content: center;
    align-items: center;
}
#griddle {
    width: 960px;
    height: 960px;
    background-color: black;
    border: 0 lawngreen;
}
.dark {
    display: inline-block;
    line-height: 0;
    border: solid .1px lawngreen;
    background-color: black;
    height: 38px;
    width: 38px;
}


/*.default:hover{
    background-color: whitesmoke;
    border: solid .1px royalblue;
}*/
.light {
    display: inline-block;
    line-height: 0;
    background-color: whitesmoke;
    border: solid .1px royalblue;
    height: 38px;
    width: 38px;
}